@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* styles for task-1.html */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #f8f9fc;
  padding: 24px;
  border-radius: 8px;
  width: 440px;
  margin: 0;
  list-style: none;
}
#categories .item {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
}

#categories .item h2 {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: bold;
  color: #2e2f42;
}

#categories .item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#categories .item ul li {
  font-size: 16px;
  color: #2E2F42;
  padding: 8px 12px;
  background-color: #f8f9fc;
  border-radius: 4px;
  border: 1px solid #808080;
}
/* finish styles for task-1.html */

/* styles for task-2.html */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* Відстань між картинками по горизонталі та вертикалі */
  row-gap: 48px; /* Відстань між рядами */
  justify-content: center;
  list-style: none;
  padding: 0;

}

.gallery li {
  flex: 0 1 calc((100% - 48px) / 3); /* Розрахунок ширини для 3 картинок у ряд */
  max-width: calc((100% - 48px) / 3); /* Забезпечує правильну ширину */
}

.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover; /* Пропорційне обрізання зображення */
  display: block;
}
@media screen and (max-width: 900px) {
  .gallery {
    display: block;
  }
}
/* finish styles for task-2.html */

/* styles for task-3.html */
#name-input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding-left: 16px;

font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;  
}
.task-tree-title {
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;

/* line-height: 32px; */ 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
/* styles for task-3.html */

/* styles for task-4.html */
.login-form label {
    display: block;
    margin-top: 8px;

    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
.login-form input {
  display: block;

}
.last-inp {
  margin-bottom: 16px;
}
.login-form button {
  color: white;

  border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
background: #4e75ff;
border: none;
cursor: pointer;
}
/* finish styles for task-4.html */

/* last styles */
#controls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  background-color: #f6f6fe;

  border-radius: 8px;
padding: 32px;
width: 486px;
height: 104px;
margin-left: auto;
margin-right: auto;
}

#controls input {
  width: 150px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #808080;
  border-radius: 8px;
  outline: none;
  color: #2E2F42;
}


#controls button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition: 0.4s ease;
}

#controls button[data-create] {
  background-color: #007bff;
}

#controls button[data-create]:hover {
  background-color: #0056b3;
}

#controls button[data-destroy] {
  background-color: #dc3545;
}

#controls button[data-destroy]:hover {
  background-color: #a71d2a;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}